{% extends "base_generic.html" %}
{% load rest_framework %}
{% load template_extra %}

{% block courses %}
    active
{% endblock %}

{% block content %}
    <h1>Courses</h1>
    {% include "bits/filter_content.html" %}
    <table class="striped-table">
        <thead>
            <tr>
                <th style="width:20%;">Section</th>
                <th style="width:25%;">Title</th>
                <th>Activity</th>
                <th id="instructors">Instructor</th>
                <th style="white-space: nowrap;">Request Status</th>
            </tr>
        </thead>
        <tbody>
            {% for course in results %}
                <tr>
                    <td>
                        <a href='{% url "UI-course-detail" course_code=course.course_code %}'>{{ course|course_to_course_code }} </a>
                    </td>
                    <td>{{ course.course_name }}</td>
                    <td>{{ course.course_activity }}</td>
                    <td id="instructors">
                        {% if course.instructors|length == 0 %} STAFF {% else %}
                            {{ course.instructors| join:", "}} {% endif %}
                    </td>
                    <td style="padding-left:4%;">
                        {% if course.requested_override == True %}
                            <a class="button muted-button" data-toggle="tooltip" data-placement="top" title="Request not in CRF">Requested</a>
                        {% elif course.requested == True %}
                            {% if course.associated_request %}
                                <a  href='{% url "UI-request-detail" pk=course.associated_request %}' class="button muted-button" data-toggle="tooltip" data-placement="top" title="click to see details">Requested</a>
                            {% else %}
                                <a  href='{% url "UI-request-detail" pk=course.course_code %}' class="button muted-button" data-toggle="tooltip" data-placement="top" title="click to see details">Requested</a>
                            {% endif %}
                        {% else %}
                            <button class="button" data-toggle="modal" data-target="#CourseModal" data-course="{{ course.course_code }}">
                                Request
                            </button>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "bits/quick_request_modal.html" with view_type="UI-course-list" %}
    {% include "bits/filter_modal.html" %}
    {% include "bits/paginator.html" %}
{% endblock %}

{% block template_page_js %}
    <script>
     var form = document.getElementById("filterform");
     console.log(form.childNodes[1].childNodes);
     var field = document.getElementById("id_username");
     field.setAttribute("name", "instructor");
     field.setAttribute("id","id_instructor")
     field.required = false;
     var field2 = document.getElementById("id_abbreviation");
     field2.setAttribute("name", "subject");
     field2.setAttribute("id","id_subject")

     $('#CourseModal').on('show.bs.modal', function (event) {
         var button = $(event.relatedTarget)
         var course = button.data('course')
         var short_course = course.replace(/_/g,'')
         console.log(course.replace('_',''))
         var modal = $(this)
         modal.find('.modal-title').text('Quick Request for ' + course)
         modal.find(".modal-footer input[name='course_requested']").val(short_course)
         modal.find(".modal-footer a").attr("href", '/courses/'+ short_course +'#RequestForm')
     })

     $('form[method="get"]').submit(function(){
         $(this).find(':input').each(function() {
             var inp = $(this);
             if (!inp.val()) {
                 inp.remove();
             }
             else{
                 console.log(inp.val);
             }
         });
     });
    </script>
{% endblock %}
