{% extends "base_authenticated.html" %}
{% load rest_framework %}
{% load template_extra %}

{% block requests_nav_link %}
    active
{% endblock %}

{% block content %}
    <h1>Requests</h1>
    {% include "bits/filter_content.html" %}
    <table class="striped-table requestTable">
        <thead>
            <tr>
                <th>Section</th>
                <th>Title</th>
                <th>Requestor</th>
                <th>Date Requested</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for request in requests %}
                <tr>
                    <td>
                        <a href="{% url "UI-request-detail" pk=request.course_requested %}">
                            {{ request.course_info|course_to_course_code }}
                        </a>
                    </td>
                    <td>{{ request.course_info.course_name }}</td>
                    <td>
                        {{ request.owner }}
                        {% if request.masquerade %}
                            ({{ request.masquerade }})
                        {% endif %}
                    </td>
                    <td>{{ request.created }}</td>
                    <td>
                        {{ request.status }}
                        {% if request.status == "LOCKED" %}
                            <i class="fas fa-lock"
                               data-toggle="tooltip"
                               data-placement="top"
                               title=""
                               data-original-title="this request will not be processed until unlocked by admin"
                            ></i>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "bits/filter_modal.html" %}
    {% include "bits/paginator.html" %}
{% endblock %}

{% block template_page_js %}
    <script>
     $('form[method="get"]').submit(function() {
         $(this).find(':input').each(function() {
             var input = $(this);
             if (!input.val()) {
                 input.remove();
             }
         });
     });
    </script>
{% endblock %}
