{% extends "base_authenticated.html" %}
{% load rest_framework %}
{% load template_extra %}

{% block content %}
    <h1>Request Created</h1>
    <p>
        {{ settings.BASE_URL }}
        Request link:
        <a href="{% url "UI-request-detail" pk=request.course_requested %}">
            {% url "UI-request-detail" pk=request.course_requested %}
        </a>
    </p>
    <p>
        Your request has been sent to the Courseware Support Team for approval
        (during business hours), after which your site will be created for you.
    </p>
    <em>
        For more info, please visit the
        <a href="https://infocanvas.upenn.edu/">Canvas at Penn</a>
        documentation site.
    </em>
    <hr>
    <div class="bd-callout bd-callout-info" class="w-100" style="margin-bottom: 5%;">
        {% get_markdown "Request-Created" %}
        {% if staff %}
            {% get_markdown_id 'Request-Created' as page_id %}
            {% if page_id %}
                <a
                    href="{% url "admin:course_pagecontent_change" page_id %}"
                    style="float:right;margin-top:-15px">
                    (change this message)
                </a>
            {% else %}
                <a href="{% url "admin:course_pagecontent_add" %}"
                   style="margin-top:-15px">
                    (add a message here)
                </a>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
