{% extends "base_authenticated.html" %}
{% load rest_framework %}

{% block schools_nav_link %}
    active
{% endblock %}

{% block content %}
    {% load template_extra %}
    <h1>Schools</h1>
    <div class="bd-callout bd-callout-info" class="w-100" style="margin-bottom: 5%;">
        {% get_markdown "School-List" %}
        {% if staff %}
            {% get_markdown_id 'School-List' as page_id %}
            {% if page_id %}
                <a
                    href="{% url "admin:course_pagecontent_change" page_id %}"
                    class="card-link"
                    style="float:right;margin-top:-15px"
                >
                    (change this message)
                </a>
            {% else %}
                <a
                    href="{% url "admin:course_pagecontent_add" %}"
                    class="card-link"
                    style="margin-top:-15px"
                >
                    (add a message here)
                </a>
            {% endif %}
        {% endif %}
    </div>
    <table class="striped-table">
        <thead>
            <tr>
                <th style="width:40%;">Name</th>
                <th style="width:10%;">Abbreviation</th>
                {% if staff %}
                    <th>Subaccount ID</th>
                {% endif %}
                <th>Visibility</th>
            </tr>
        </thead>
        <tbody>
            {% for school in schools %}
                <tr>
                    {% if school.visible %}
                        <td>
                            <a href="/schools/{{ school.abbreviation }}/">
                                {{ school.name }}
                            </a>
                        </td>
                    {% else %}
                        <td>{{ school.name }}</td>
                    {% endif %}
                    <td>{{  school.abbreviation }}</td>
                    {% if staff %}
                        <td>{{ school.canvas_subaccount|stringformat:"i" }}</td>
                    {% endif %}
                    <td>
                        {% if staff %}
                            {% if school.visible %}
                                <button
                                    class="button"
                                    data-toggle="modal"
                                    data-target="#SchoolModal"
                                    data-school="{{ school.name }}"
                                    data-abbreviation="{{ school.abbreviation }}"
                                    data-id="{{ school.id }}"
                                    data-visible="false"
                                >
                                    <b>REMOVE ALL</b>
                                    <i class="fas fa-minus-square"></i>
                                </button>
                            {% else %}
                                <button
                                    class="button"
                                    data-toggle="modal"
                                    data-target="#SchoolModal"
                                    data-school="{{ school.name }}"
                                    data-abbreviation="{{ school.abbreviation }}"
                                    data-id="{{ school.id }}"
                                    data-visible="true">
                                    <b>ADD ALL</b>
                                    <i class="fas fa-plus-square"></i>
                                </button>
                            {% endif %}
                        {% else %}
                            {% if subject.visible %}
                                TRUE
                            {% else %}
                                FALSE
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div
        class="modal fade"
        id="SchoolModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby=""
        aria-hidden="true"
    >
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Change Visibility</h5>
                    <div class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
                <form id="form" action="" data-method="PUT" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-body">
                        <p>Are you sure that you want to change the visibility?</p>
                        <em>
                            This will change the visibility of all of the
                            subjects associated with this school too.
                        </em>
                    </div>
                    <div class="modal-footer">
                        <input name="name" type="hidden" class="form-control" type="text" value="" hidden>
                        <input name="abbreviation" type="hidden" class="form-control" type="text" value="" hidden>
                        <input name="visible" type="hidden" class="form-control" type="text" value="" hidden>
                        <button type="submit" value="save" style="font-weight: 600;">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% include "bits/paginator.html" %}
{% endblock %}

{% block template_page_js %}
    <script>
     $(document).ready(function() {
         $('form').ajaxForm();
     });

     $('#SchoolModal').on('show.bs.modal', function(event) {
         const button = $(event.relatedTarget)
         const school = button.data('school')
         const id = button.data('id')
         const visible = button.data('visible')
         const abbreviation = button.data('abbreviation')
         $('#form').attr('action', `/schools/${abbreviation}/`)
         const modal = $(this)
         modal.find('.modal-title').text(`Change Visibility for: ${school}`)
         modal.find('.modal-footer input[name="name"]').val(school)
         modal.find('.modal-footer input[name="abbreviation"]').val(abbreviation)
         modal.find('.modal-footer input[name="visible"]').val(visible)
     })
    </script>
{% endblock %}
