{% extends "base_authenticated.html" %}
{% load rest_framework %}
{% load template_extra %}

{% block content %}
    <fieldset>
        <legend>User Account Info</legend>
        <dl class="row">
            <dl class="row" style="line-height:1.1;margin-bottom:0;">
                {% if user_account.first_name and user_account.last_name %}
                    <dt class="col-4 col-md-3 text-right" style="padding-right: 0px;">User:</dt>
                    <dd class="col-8 col-md-9">{{ user_account.first_name }} {{ user_account.last_name }}</dd>
                {% endif %}
                <dt class="col-4 col-md-3 text-right" style="padding-right: 0px;">Pennkey:</dt>
                <dd class="col-8 col-md-9">{{ user_account.username }}</dd>
                <dt class="col-4 col-md-3 text-right" style="padding-right: 0px;">Penn ID:</dt>
                <dd class="col-8 col-md-9">{{ user_account.profile.penn_id }}</dd>
                <dt class="col-4 col-md-3 text-right" style="padding-right: 0px;">Email:</dt>
                <dd class="col-8 col-md-9">{{ user_account.email|default:"None" }}</dd>
            </dl>
        </dl>
        {% if request.session.on_behalf_of %}
            <p class="vertical-center">
                <mark>
                    Editing another user's info while "masquerading" as them is
                    not permitted. If you wish to edit your own info, please stop
                    masquerading and try again.
                </mark>
            </p>
        {% else %}
            <form role="form" action="" method="POST">
                {% csrf_token %}
                {{ email_change_form }}
                <br>
                <button type="submit">Update</button>
            </form>
            <em><p class="vertical-center">
                To edit other account info, please
                <a href="mailto: librarycrf@pobox.upenn.edu" style="padding-left: 0.25em;">
                    email the Courseware Team
                </a>.
            </p>
            </em>
        {% endif %}
    </fieldset>
{% endblock %}
