appdirs==1.4.4
asgiref==3.5.1
blessings==1.7
bpython==0.22.1
canvasapi==2.2.0
certifi==2021.10.8
cfgv==3.3.1
charset-normalizer==2.0.12
coverage==6.3.2
curtsies==0.3.10
cwcwidth==0.1.6
cx-Oracle==8.3.0
distlib==0.3.4
Django==4.0.4
django-extensions==3.1.5
django-stubs==1.10.1
django-stubs-ext==0.4.0
filelock==3.6.0
greenlet==1.1.2
identify==2.5.0
idna==3.3
jedi==0.18.1
mypy==0.942
mypy-extensions==0.4.3
nodeenv==1.6.0
parso==0.8.3
platformdirs==2.5.2
pre-commit==2.19.0
prompt-toolkit==3.0.29
psycopg2==2.9.3
Pygments==2.12.0
pytz==2022.1
pyxdg==0.27
PyYAML==6.0
requests==2.27.1
six==1.16.0
sqlparse==0.4.2
toml==0.10.2
tomli==2.0.1
types-pytz==2021.3.8
types-PyYAML==6.0.7
typing_extensions==4.2.0
urllib3==1.26.9
virtualenv==20.14.1
wcwidth==0.2.5
