{% extends "base_generic.html" %}
{% load rest_framework %}
{% block autoadd %}
    active
{% endblock %}

{% block content %}
    <div class="medium-container">
        <h1>Auto-Add</h1>
        <p>
            To have a user automatically enrolled into every Canvas course for a
            particular School/Subject, add a new Auto-Add by clicking the button
            below.
        </p>
        <button data-toggle="modal" data-target="#auto-add-modal">
            Create Auto-Add <i class="fas fa-plus"></i>
        </button>
        <br>
        <br>
        <p><em>Sorted by pennkey</em></p>
        <table class="striped-table">
            <thead>
                <tr>
                    <th>User</th>
                    <th>School</th>
                    <th>Subject</th>
                    <th>Role</th>
                    <th>Edit / Remove</th>
                </tr>
            </thead>
            <tbody>
                {% for auto_add in results %}
                    <tr>
                        <td>{{auto_add.user}}</td>
                        <td>{{auto_add.school}}</td>
                        <td>{{auto_add.subject}}</td>
                        <td>{{auto_add.role }}</td>
                        <td>
                            <button data-toggle="modal" data-target="#delete-modal" data-autoadd="{{auto_add.id}}">
                                Delete <i class="fas fa-trash-alt"></i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="modal fade" id="auto-add-modal" role="dialog" aria-labelledby="" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="">Create Auto Add</h5>
                        <div class="close" data-dismiss="modal" aria-label="Close">
                            <i class="fas fa-times"></i>
                        </div>
                    </div>
                    <div class="modal-body">
                        <form action="/autoadds/" method="post" id="auto-add-form">
                            {% csrf_token %}
                            <div class="form-group ">
                                <label>User</label>
                                {{ autocomplete_user.username }}
                            </div>
                            {% render_form serializer %}
                            {{ autocomplete_user.media }}
                            <br>
                            <input type="submit" value="Create" />
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade in" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="my-modal-label" aria-hidden="true" data-focus="false">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        <h5 class="text-center">Are you sure you want to delete this Auto-Add instance?</h5>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <form class="button-form" id='form-delete' action="" data-method="DELETE">
                            <input type="hidden" name="UI" value="true">
                            <button class="btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% if paginator %}
            <nav aria-label="Page navigation" class="vertical-center">
                {% get_pagination_html paginator %}
            </nav>
        {% endif %}
    </div>
{% endblock %}

{% block template_page_js %}
    <script>
     var form = document.getElementById("auto-add-form");
     var field = document.getElementById("id_username");
     form.removeChild(form.childNodes[5]);
     field.setAttribute("name", "user");
     $('#delete-modal').on('show.bs.modal', function (event) {
         var button = $(event.relatedTarget);
         var id = button.data('autoadd');
         $('#form-delete').attr("action",'/api/autoadds/' + id + '/');
     });
    </script>
{% endblock %}
