{% extends "base_authenticated.html" %}
{% load rest_framework %}

{% block courselookup %}
    active
{% endblock %}

{% block content %}
    <h1>Course Lookup</h1>
    <p>
        The CRF pulls course information from the Data Warehouse. If a course
        that you expect to be in the CRF is missing, use this tool to query the
        Data Warehouse directly, to see if that course exists there. If it is
        found in the DW, but not in the CRF, it is most likely a delay in
        syncing information (the CRF syncs data only once per day), but feel
        free to report this so that the course can be pulled in manually. If the
        course is NOT found here, then there is nothing we can do but wait...
    </p>
    <fieldset>
        <legend>Course Lookup</legend>
        <form>
            <div class="flex-row">
                <div class="flex-large">
                    <label for="subject">Subject</label>
                    <input type="text" id="subject" name="subject" placeholder="SUBJ">
                </div>
                <div class="flex-large">
                    <label for="course-number">Course Number</label>
                    <input type="text" id="course-number" name="course-number" placeholder="1234">
                </div>
                <div class="flex-large">
                    <label for="year-and-term">Year and Term</label>
                    <input type="text" id="year-and-term" name="year-and-term" placeholder="202230">
                </div>
            </div>
            <br>
            <input type="submit" value="Look up course">
        </form>
    </fieldset>
    <fieldset style="padding:0rem;">
        <legend>Results ({{size}})</legend>
        <pre style="overflow-y:scroll;margin-bottom:0px;padding-bottom:0px;" id='json'>
            {{data | pprint}}
        </pre>
    </fieldset>
    <br>
{% endblock %}
