{% extends "base_generic.html" %}
{% load rest_framework %}

{% block courselookup %}
    active
{% endblock %}

{% block content %}
    <h1> Course Lookup</h1>
    <p> Does something seem wrong about a course? Lets see if they exist in the Registrar Data...
        <br>
        <mark><strong>NB:</strong> Results are capped at 5 courses and labs are not listed as courses.</mark>
    </p>
    <dl>
        <dt>Course Id</dt>
        <dd>Subject code (required), plus course number (optional if no section number), plus section number (optional); must be in CAPS</dd>
        <dt>Year/Term (optional)</dt>
        <dd>Year plus term code: "A" for spring, "B" for summer, "C" for fall</dd>
        <dt>Instructor (optional)</dt>
        <dd>Valid pennkey; must be lowercase</dd>
    </dl>
    <fieldset>
        <legend>Course Lookup</legend>
        <form>
            <div class="flex-row">
                <div class="flex-large">
                    <label for="course_id">Course Id</label>
                    <input type="text" id="course_id" name="course_id" placeholder="Course Id">
                </div>
                <div class="flex-large">
                    <label for="term">Year/Term</label>
                    <input type="text" id="term" name="term" placeholder="e.g. 2019C">
                </div>
                <div class="flex-large">
                    <label for="instructor">Instructor</label>
                    <input type="text" id="instructor" name="instructor" placeholder="pennkey">
                </div>
            </div>
            <input type="submit" value="Submit">
        </form>
    </fieldset>
    <fieldset style="padding:0rem;">
        <legend>Results ({{size}})</legend>
        <pre style="overflow-y:scroll;margin-bottom:0px;padding-bottom:0px;" id='json'>
            {{data | pprint}}
        </pre>
    </fieldset>
{% endblock %}
