{% extends "base_authenticated.html" %}
{% load rest_framework %}

{% block userlookup %}
    active
{% endblock %}

{% block content %}
    <h1>User Lookup</h1>
    <p>
        Look up a user's info in the CRF and in Canvas.
    </p>
    <em>Only lists Canvas sites where the user has Teacher enrollment status.</em>
    <br>
    <br>
    <form id="myForm" action="#" onsubmit="submitForm();return false;">
        <label style="width: 45%;">
            User (pennkey)
            <input name="user" type="text" id="pennkey" />
            {{ form2.username }}
        </label>
    </form>
    <br>
    <div>
        <button class="check-user">Look up user</button>
    </div>

    {{ form2.media }}

    <fieldset id="crf-results">
        <legend>CRF Results</legend>
        <em>Search to load basic data from the CRF</em>
    </fieldset>

    <fieldset id="canvas-results">
        <legend>Canvas Results</legend>
        <em>Search to load basic user data from canvas</em>
    </fieldset>
    <br>
{% endblock %}

{% block template_page_js %}
    <script>
     function submitForm() {
         $('.check-user').click();

         return false;
     }

     const makeCRFListItem = (item, ul) => {
         const li = document.createElement('li');
         ul.appendChild(li);
         li.innerHTML += item;
     }

     const displayCRFResults = (data) => {
         $('#crf-results').empty().append("<legend>CRF Results</legend>");

         for (const element in data) {
             if (Array.isArray(data[element]) && data[element].length){
                 $('#crf-results').append(`<p><strong>${element}:</strong></p>`);
                 const items = data[element];
                 const ul = document.createElement('ul');
                 document.getElementById('crf-results').appendChild(ul);
                 items.forEach(item => makeCRFListItem(item, ul));
             } else {
                 $('#crf-results').append(`<p><strong>${element}:</strong> ${data[element]}</p>`);
             }
         };
     }

     const displayCRFError = (xhr, status) => {
         $('#crf-results').empty().append("<legend>CRF Results</legend><em>User not found.</em>");
     }

     const makeCanvasListItem = (item, ol) => {
         const li = document.createElement('li');
         ol.appendChild(li);
         li.innerHTML += JSON.stringify(item);
     }

     const displayCanvasResults = (data) => {
         $('#canvas-results').empty().append("<legend>Canvas Results</legend>");

         if (!Object.keys(data).length) {
            $('#canvas-results').empty().append("<legend>Canvas Results</legend><em>User not found.</em>");

             return;
         }

         for (const element in data) {
             if (Array.isArray(data[element]) && data[element].length){
                 $('#canvas-results').append(`<p><strong>${element}:</strong></p>`);
                 const items = data[element];
                 const ol = document.createElement('ol');
                 document.getElementById('canvas-results').appendChild(ol);
                 items.forEach(item => makeCanvasListItem(item, ol));
             } else {
                 $('#canvas-results').append(`<p><strong>${element}:</strong> ${data[element]}</p>`);
             }
         };
     }

     const displayCanvasError = (xhr, status) => {
         $('#canvas-results').empty().append("<legend>Canvas Results</legend><em>User not found.</em>");
     }

     $('.check-user').click(function() {
         const pennkey = $("#pennkey").val();

         $.ajax({
             url: `/api/users/${pennkey}`,
             dataType: "json",
             success: displayCRFResults,
             error: displayCRFError
         });

         $.ajax({
             url: `/canvasuser/${pennkey}`,
             dataType: "json",
             success: displayCanvasResults,
             error: displayCanvasError
         });
     });
    </script>
{% endblock %}
