{% load rest_framework %}
{% load template_extra %}

{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'info' %}
        <div
          class="alert alert-warning alert-dismissible fade show"
          role="alert"
          style="margin: 10px; z-index: inherit"
        >
          <h4 class="alert-heading">Welcome!</h4>
          {% get_markdown "Welcome-Banner" %}
          {% if staff %}
              {% get_markdown_id 'Welcome-Banner' as page_id %}
              {% if page_id %}
                <a
                  href="{%  url 'admin:course_pagecontent_change' page_id %}"
                  style="float: right; margin-top: -15px"
                >
                  (change this message)
                </a>
              {% else %}
                <a href="{%  url 'admin:course_pagecontent_add' %}" style="margin-top: -15px">
                  (add a message here)
                </a>
              {% endif %}
          {% endif %}
          <div class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><i class="fas fa-times"></i></span>
          </div>
        </div>
        {% endif %}
    {% endfor %}
{% endif %}
