{% load rest_framework %}
{% load template_extra %}

{% if filter %}
    <nav class="list-nav">
        <div class="filter-group">
            <button class="muted-button filter-button" data-toggle="modal" data-target="#FilterModal">Filter
                <i class="fas fa-filter"  data-toggle="tooltip" data-placement="right" title="" data-original-title="click to filter results"></i>
            </button>
            <div class="filter-chips">
                {% for filter, value in request.query_params.items %}
                    {% if value and filter != "page" %}
                        <span class="badge" > {{ filter }}: {{ value }}
                            <span aria-hidden="true">
                                <a href="{% delete_query_param request filter %}">
                                    <i class="fa fa-times" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="" data-original-title="click to remove filter"></i>
                                </a>
                            </span>
                        </span>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="search-group">
            <div class="input-group mb-3">
                <form class="search-form" action="" method="GET">
                    <input id="search-input" name="search" type="text" class="form-control" placeholder="Course Section or Name" aria-label="Course's SRS code or title " required>
                    <div class="input-group-append">
                        <button id="search-button">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </nav>
{% endif %}
