{% load rest_framework %}
{% load template_extra %}

{% if paginator %}
    <nav aria-label="Page navigation" class="vertical-center">
        {% get_pagination_html paginator %}
    </nav>
{% endif %}

<script>
 const listElements = document.querySelectorAll(".pagination li");
 const anchorElements = document.querySelectorAll(".pagination li a");
 listElements.forEach(element => element.classList.add("page-item"))
 anchorElements.forEach(element => element.classList.add("page-link"))
</script>
