{% load rest_framework %}
{% load template_extra %}

<div class="modal fade" id="CourseModal" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Quick Request For</h5>
                <div class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times"></i>
                </div>
            </div>
            <form action="{% url 'UI-request-list' %}" method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <p>
                        To request a site for this course using the default
                        settings, (optionally) choose one of your existing
                        Canvas site to copy from, and click "Submit Request."
                    </p>
                    <em>For more options, click "Custom Request."</em>
                    <fieldset>
                        <legend><h6 style="margin:0;">Copy from existing site (OPTIONAL)</h6></legend>
                        <label for="id_name">Canvas site</label>
                        <div class="input-group mb-3">
                            {{ autocomplete_canvas_site.name }}
                            {{ autocomplete_canvas_site.media }}
                        </div>
                        <br>
                        <input type="checkbox" id="exclude_announcements" name="exclude_announcements">
                        <label style="display: inline;" for="exclude_announcements">Exclude announcements</label>
                        <br>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <input name="course_requested" type="hidden" class="form-control" type="text" value="" hidden>
                    <input name="status" class="form-control" type="hidden" value="SUBMITTED">
                    <input name="view_type" class="form-control" type="hidden" value="{{ view_type }}">
                    <a href='' type="button" class="button accent-button" style="font-weight: 600;">Custom Request</a>
                    <button type="submit" value="save" style="font-weight: 600;">Submit Request</button>
                </div>
            </form>
        </div>
    </div>
</div>
